* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(255, 255, 255, 0.3);
    --switch-bg-url: url(./assets/sun.svg);
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

body {
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 16px 24px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2), 0 -0.1rem 0.3rem rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    background: var(--surface-color);
}

.profile img {
    width: 112px;
    display: block;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.profile p {
    text-align: center;
    font-size: 1.5rem;
    line-height: 24px;
    margin-top: 8px;
}

.switch {
    position: relative;
    width: 63px;
    margin: 48px auto 4px;
}

.switch span {
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: block;
    border-radius: 9999px;
}

.switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    animation: slide-back 0.3s;
}

.light .switch button {
    animation: slide-in 0.3s forwards;
}

.switch button:hover {
    outline: 8px solid var(--highlight-color);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    text-decoration: none;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    font-weight: 500;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.15);
    transition: background 0.5s, box-shadow 0.3s ease-in-out;
}

ul li a:hover {
    background: rgba(159, 152, 152, 0.685);
    border: 1.5px solid var(--text-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 24px 0;
    font-size: 24px;
}

.social-links a {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15);
    transition: background 0.5s, box-shadow 0.3s ease-in-out;
}

.social-links a:hover {
    background-color: rgba(159, 152, 152, 0.685);
    box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.3);
}

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

@media (min-width: 700px) {
    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
    }

    .light {
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }
}

@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}
